:root {
  /* Gryffindor */
  --gryf-dark-red: #740001;
  --gryf-dark-red-hue: #74000180;
  --gryf-red: #ae0001;
  --gryf-red-hue: #ae000180;
  --gryf-yellow: #eeba30;
  --gryf-gold: #d3a625;

  /* Slytherin */
  --slyth-dark-green: #1a472a;
  --slyth-dark-green-hue: #1a472a99;
  --slyth-green: #2a623d;
  --slyth-green-hue: #2a623d80;
  --slyth-dark-silver: #5d5d5d;
  --slyth-silver: #aaaaaa;

  /* Ravenclaw */
  --raven-dark-blue: #0e1a40;
  --raven-dark-blue-hue: #0e1a4080;
  --raven-blue: #222f5b;
  --raven-blue-hue: #222f5b80;
  --raven-light-grey: #bebebe;
  --raven-bronze: #946b2d;

  /* Hufflepuff */
  --huff-yellow: #ecb939;
  --huff-yellow-hue: #ecb93980;
  --huff-light-yellow: #f0c75e;
  --huff-light-brown: #726255;
  --huff-dark-brown: #372e29;

  /* BASE COLOURS */
  --clr-darkest: #2c2c2c;
  --clr-darker: #595959;
  --clr-dark: #7f7f7f;
  --clr-mid: #a5a5a5;
  --clr-light: #cccccc;
  --clr-lighter: #f2f2f2;
  --clr-lightest: #ffffff;

  /* fonts */

  /* typography */
}

* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto",
    "Segoe UI", sans-serif;
}

.site-wrapper {
  max-width: 90vw;
  max-height: 80vh;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--clr-light);
}

main {
  height: 100%;
}

.ui-wrapper {
  display: flex;
  height: 70vh;
}

th {
  background-color: var(--clr-light);
  height: 2.5rem;
  width: calc(100% / 7);
}

th:first-of-type {
  border-left: 0.5rem solid var(--clr-dark);
}

/* ***** POP UP ***** */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  width: 340px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.2);
}

.popup-close-button {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--clr-lightest);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.student-img {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  /* -o-object-position: center; */
  object-position: center;
  /* -o-object-fit: cover; */
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

img {
  border-style: none;
}

.name {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.popup-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.popup-content {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  /* padding: 1.25rem; */
}

.popup-hufflepuff .card-cover {
  background-image: url(cover/yellow-small.jpg);
}
.popup-slytherin .card-cover {
  background-image: url(cover/green-small.jpg);
}
.popup-ravenclaw .card-cover {
  background-image: url(cover/blue-small.jpg);
}
.popup-gryffindor .card-cover {
  background-image: url(cover/red-small.jpg);
}

.card-header {
  position: relative;
  display: flex;
  height: 250px;
  /* flex-shrink: 0; */
  width: 100%;
  transition: 0.3s;
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}

#student-info {
  padding: 1.25rem 1.25rem 0.25rem;
}

#student-info p,
#toggle-cont .toggle {
  padding-bottom: 0.4rem;
}

#student-info p:last-of-type,
#toggle-cont .toggle:last-of-type {
  padding-bottom: 0;
}

#toggle-cont {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.25rem 2rem;
}

/* ***** TOGGLE SWITCH ***** */

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: var(--clr-lightest);
  border-radius: 16px;
  box-shadow: 0 0 0 0.07rem inset var(--clr-darker);
  width: 2.538rem;
  height: 1.4rem;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: var(--clr-darker);
  border-radius: 50%;
  width: 1.05rem;
  height: 1.05rem;
  position: absolute;
  top: 0.175rem;
  left: 0.175rem;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: var(--clr-darker);
}
.toggle-checkbox:checked + .toggle-switch {
  background: var(--clr-mid);
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 1.313rem;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 0.313rem;
  position: relative;
  top: 0.088rem;
  color: var(--clr-darkest);
}

.toggle-label i {
  color: var(--clr-darker);
}

/* ***** CAPITALIZE NAMES ***** */

td,
p {
  text-transform: capitalize;
}

/* ***** ALIGNMENT ***** */

footer {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-right: 2rem;
  background-color: var(--clr-dark);
  color: var(--clr-lighter);
  height: 10vh;
}

header h1 {
  padding-bottom: 0.8rem;
}

#table_wrapper {
  width: 100%;
  overflow: auto;
}

#studentTable {
  width: 100%;
  border-collapse: collapse;
}

/* ***** ROW ICONS ***** */

.fa-circle-check {
  color: var(--slyth-dark-green-hue);
}

.fa-circle-xmark {
  color: var(--gryf-dark-red-hue);
}

td.gender,
.isPrefect,
.isRacist,
.isExpelled {
  text-align: center;
}

/* ***** HOUSE COLORS IN CELLS ***** */

tr.slytherin > .house {
  border-left: 0.5rem solid var(--slyth-dark-green-hue);
}

tr.gryffindor > .house {
  border-left: 0.5rem solid var(--gryf-dark-red-hue);
}

tr.hufflepuff > .house {
  border-left: 0.5rem solid var(--huff-yellow-hue);
}

tr.ravenclaw > .house {
  border-left: 0.5rem solid var(--raven-dark-blue-hue);
}

/* ***** CELLS ***** */
tr {
  height: 1.8rem;
}

tr:nth-child(2n) {
  background: var(--clr-lighter);
}

tbody tr:last-child {
  border-bottom: 1px solid var(--clr-lighter);
}

td {
  border-right: 1px solid var(--clr-lighter);
  height: 2.25rem;
}

tr td:nth-child(-n + 3) {
  padding-left: 0.5rem;
}

/* ***** SCROLL BAR STYLING ***** */

/* ***** FILTER BAR ***** */

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  background-color: var(--clr-lighter);
  padding: 1.5rem 2rem;
  border-right: 1px solid var(--clr-light);
}

#navbar p {
  font-size: 0.75rem;
  text-align: right;
}

fieldset {
  border: 1px solid var(--clr-mid);
  border-radius: 5px;
  width: 100%;
  padding: 0 0.8rem 0.8rem;
  margin-bottom: 0.8rem;
}

legend {
  font-size: 1.25rem;
  padding: 0 0.35rem;
  /* padding-bottom: 1.25rem; */
  color: var(--clr-darker);
}

fieldset label:first-of-type {
  margin-top: 1rem;
}

fieldset label {
  margin-bottom: 0.6rem;
}

#search-bar {
  background-color: var(--clr-lightest);
  font-size: 1rem;
  border: 1px solid var(--clr-mid);
  border-radius: 5px;
  width: 100%;
  padding: 0.35rem 0.7rem;
  margin-bottom: 0.7rem;
}

#navbar > * > button {
  color: var(--clr-lightest);
  text-transform: uppercase;
  background-color: var(--clr-dark);
  font-size: 0.8rem;
  border: 1px solid var(--clr-dark);
  /* box-shadow: none; */
  /* border: 0 solid; */
  border-radius: 5px;
  width: 100%;
  padding: 0.6rem 0;
  margin-top: 0.7rem;
}
