:root {
  /* Gryffindor */
  --gryf-dark-red: #740001;
  --gryf-dark-red-hue: #74000180;
  --gryf-red: #ae0001;
  --gryf-red-hue: #ae000180;
  --gryf-yellow: #eeba30;
  --gryf-gold: #d3a625;

  /* Slytherin */
  --slyth-dark-green: #1a472a;
  --slyth-dark-green-hue: #1a472a80;
  --slyth-green: #2a623d;
  --slyth-green-hue: #2a623d80;
  --slyth-dark-silver: #5d5d5d;
  --slyth-silver: #aaaaaa;

  /* Ravenclaw */
  --raven-dark-blue: #0e1a40;
  --raven-dark-blue-hue: #0e1a4080;
  --raven-blue: #222f5b;
  --raven-blue-hue: #222f5b80;
  --raven-light-grey: #bebebe;
  --raven-bronze: #946b2d;

  /* Hufflepuff */
  --huff-yellow: #ecb939;
  --huff-yellow-hue: #ecb93980;
  --huff-light-yellow: #f0c75e;
  --huff-light-brown: #726255;
  --huff-dark-brown: #372e29;

  /* fonts */

  /* typography */
}

* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto",
    "Segoe UI", sans-serif;
}

main {
  display: flex;
}

#navbar {
  display: flex;
  flex-direction: column;
  width: 10rem;
  /* height: 80vh; */
  background-color: #919191;
  padding: 20px;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar li {
  margin-bottom: 1rem;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#navbar a:hover {
  color: black;
  text-decoration: none;
  background-color: aqua;
}

th {
  background-color: #e2e2e2;
  height: 2.5rem;
  width: 8rem;
}

/* ***** POP UP ***** */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  width: 60vw;
  max-width: 600px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: relative;
}

.popup-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.popup-content {
  margin-top: 20px;
  display: flex;
}

/* ***** TOGGLE SWITCH ***** */

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/* ***** CAPITALIZE NAMES ***** */

td,
p {
  text-transform: capitalize;
}

/* ***** ALIGNMENT ***** */

footer {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  background-color: #5d5d5d;
}

#con {
  padding: 0.5rem 2rem;
}

/* ***** ROW ICONS ***** */

.fa-circle-check {
  color: var(--slyth-dark-green);
}

.fa-circle-xmark {
  color: var(--gryf-dark-red);
}

td.gender,
.isPrefect,
.isRacist,
.isExpelled {
  text-align: center;
}

/* td.isPrefect > .fa-circle-xmark {
  background-color: var(--gryf-dark-red-hue);
  padding: auto;
  width: 100%;
  height: 100%;
} */

/* ***** HOUSE COLORS IN CELLS ***** */

tr.slytherin > .house {
  background-color: var(--slyth-green-hue);
}

tr.gryffindor > .house {
  background-color: var(--gryf-dark-red-hue);
}

tr.hufflepuff > .house {
  background-color: var(--huff-yellow-hue);
}

tr.ravenclaw > .house {
  background-color: var(--raven-dark-blue-hue);
}

/* ***** CELLS ***** */
tr {
  height: 1.8rem;
}

td {
  padding-left: 0.25rem;
}
